<div class="containerAnnouncement">
    <div style="display: flex">
        <mat-icon>undo</mat-icon>
        <p style="cursor: pointer; margin: 0 0 2vh;" (click)="back()" class="back">Retour</p>
    </div>

    <div style="width: 100%; display: flex; flex-direction: column">
        <img src="/assets/images/image 3.png" class="annoucement-image" alt="" />
    </div>

    <div>
        <button *ngIf="this.statusUser.isAuth && notOwner" routerLink="/Reserve/{{id}}" mat-raised-button
            class="bouton-announcement">Réserver
        </button>
    </div>

    <div style="display: flex; flex-direction: column">
        <div style="margin: 10px">
            <div class="description">
                <h2>{{ advert[0].adv_name }}</h2>
                <p>
                    {{ advert[0].adv_adress }}, {{ advert[0].adv_postal }}
                    {{ advert[0].adv_city }}
                </p>
            </div>
            <p class="description">
                {{advert[0].adv_describe}}
            </p>
            <h3>
                Prix : {{ advert[0].adv_price }} €/ jour
            </h3>
            <h3>Capacité d'accueil: {{ advert[0].adv_tenants }} personne(s)</h3>
            <h2>Informations du propriétaire :</h2>
            <div>
                <button *ngIf="!mailVisible" (click)="setMailVisible()" mat-raised-button> Voir l'adresse mail</button>
                <div *ngIf="mailVisible">Adresse mail: {{ advert[0].adv_usr_mail }}</div>
            </div>

            <div>
                <button *ngIf="!phoneVisible" (click)="setPhoneVisible()" mat-raised-button> Voir le numéro de
                    téléphone
                </button>
                <div *ngIf="phoneVisible"> Numéro de téléphone : +33{{ advert[0].adv_usr_phone}}</div>
            </div>
        </div>
        <h2>Activités à proximité :</h2>
        <div style="overflow: auto">
            <div class="activity-list">
                <div *ngFor="let activity of listActivity; let i = index;">
                    <div class="activity">
                        <img src="/assets/images/girl-918706_1920.jpg" class="activity-image" alt="">
                        <div class="activity-presentation">
                            <p class="activity-title">{{activity.act_name}}</p>
                            <p class="activity-presentation-under">{{activity.act_adress}}, {{activity.act_city}} </p>
                            <p class="activity-presentation-under">{{activity.act_describe}}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div>
            <h2>Commentaires de l'annonce :</h2>
            <p>* Les commentaires peuvent être uniquement posté par les personnes ayant déjà loué ce bien </p>
            <form class="commentary-form" *ngIf="this.statusUser.isAuth && userCanComment" [formGroup]="NewCommentary"
                (ngSubmit)="onSubmit(NewCommentary.value)">
                <mat-form-field class="example-full-width" appearance="fill">
                    <mat-label>Laisser un commentaire</mat-label>
                    <input type="tel" matInput formControlName="content">
                    <mat-icon matSuffix>mode_edit</mat-icon>
                </mat-form-field>
                <button type="submit" class="submit-btn" mat-raised-button> Ajouter le commentaire </button>
            </form>
        </div>
        <div class="commentary-list">
            <div *ngFor="let commentary of listCommentary; let i = index;" class="commentary-presentation">
                <p class="commentary-title">{{commentary.com_usr_firstName}} {{commentary.com_usr_lastName}}</p>
                <p class="commentary-presentation-under">{{commentary.com_text}}</p>
            </div>
        </div>
    </div>

</div>