@font-face {
    font-family: "gothic_sans_ms";
    src: url("/assets/Police_Ecriture/GOTHIC.TTF");
}

@font-face {
    font-family: "gothic_bold";
    src: url("/assets/Police_Ecriture/GOTHICB.TTF");
}

.containerAnnouncement {
    vertical-align: middle;
    margin: auto;
    width: 80%;
    height: auto;
    background-color: white;
    border-radius: 20px;
    //margin-bottom: 100px;
    margin-top: 2vh;
    padding: 20px;
}

.annoucement-image {
    margin-top: 10px;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

.title-annoucement {
    text-align: center;
    font-family: "gothic_sans_ms";
}

.annoucement-presentation {
    width: 200px;
    margin-left: auto;
    margin-right: auto;
    font-family: "gothic_bold";
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    text-align: center;
}

.description {
    font-family: "gothic_sans_ms";
}

.bouton-announcement {
    margin-top: 20px;
    text-align: center;
    display: flex;
    background-color: #339e33;
    color: white;
    width: auto;
    margin-left: auto;
    margin-right: auto;
}

.mat-raised-button {
    text-align: center;
}

.back {
    font-size: 20px;
    font-family: "gothic_bold";
}

.activity-list {
    display: flex;
    flex-direction: row;
    //overflow: auto;
}

.activity {
    display: flex;
    flex-direction: column;
    width: 30vw;
    margin: 2vh 5vw;
}

.activity-image {
    width: 100%;
}

.activity-presentation {
    text-align: center;
}

.activity-title {
}

.activity-presentation-under {
    text-align: justify;
}

/* width */
::-webkit-scrollbar {
    height: 5px;
}

/* Track */
::-webkit-scrollbar-track {
    //background: white;
    box-shadow: inset 0 0 5px grey;
    border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #339e33;
    border-radius: 25px;
}

.commentary-form {
    display: flex;
    flex-direction: column;
}

.commentary-list {
    display: flex;
    flex-direction: column;
}

.commentary-presentation {
}

.commentary-title {
    font-size: 18px;
    font-weight: bold;
}

.updateButton {
    display: flex;
    width: auto;
    margin-left: auto;

    margin-right: auto;
    background-color: #339e33;
    color: white;
}

.submit {
    background-color: #339e33;
    display: flex;
    width: auto;
    margin-left: auto;
    margin-right: auto;
    color: white;
}
.planning {
    width: 100%;
    text-align: center;
}

.fielDatePicker {
    margin-top: 30px;
    width: 300px;
}

.demo-inline-calendar-card {
    margin-left: auto;
    margin-right: auto;
    width: 300px;
}
::ng-deep .mat-calendar-body-selected {
    background-color: #339e33;
    color: #fff;
}

::ng-deep .mat-datepicker-toggle {
    color: #339e33;
}

::ng-deep datepicker-value-example .mat-form-field-label {
    color: #339e33;
}

@media (min-width: 576px) {
    .containerAnnouncement {
        margin-top: 4vh;
    }

    .annoucement-image {
        width: 60%;
    }
}

@media (min-width: 768px) {
    .annoucement-image {
        width: 40%;
    }

    .activity {
        width: 21vw;
        margin: 2vh 3vw;
    }

    .commentary-list {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: flex-start;
    }

    .commentary-presentation {
        width: 45%;
        margin: 0 2vw;
    }

    .commentary-form {
        width: 50%;
    }
}

@media (min-width: 992px) {
    .containerAnnouncement {
        width: 70%;
    }

    .annoucement-image {
        width: 40%;
    }

    .activity-image {
        width: 60%;
        margin: auto;
    }

    .activity {
        width: 19vw;
        margin: 2vh 2vw;
    }

    .commentary-presentation {
        width: 40%;
    }

    .commentary-form {
        width: 30%;
    }
}

@media (min-width: 1200px) {
    .annoucement-image {
        width: 30%;
    }

    .commentary-presentation {
        width: 27%;
    }
}

@media (min-width: 1600px) {
    .annoucement-image {
        width: 20%;
    }
}
