<div class="example-container">


    <div *ngFor="let advert of listAdverts; let i = index;">

        <div class="annoucement">
            <img src="/assets/images/image 3.png" class="annoucement-image" alt="">
            <div class="annoucement-presentation">
                <p class="annoucement-title">{{advert.adv_name}} </p>
                <p class="annoucement-presentation-under">{{advert.adv_adress}}, {{advert.adv_city}} </p>
                <p class="annoucement-presentation-under">Prix de la journée : {{advert.adv_price}} €</p>
            </div>
        </div>
        <div class="action-btn">
            <button mat-raised-button routerLink="/advertPannel/{{advert.adv_id}}">Editer l'annonce</button>
            <button mat-raised-button routerLink="/reserveByAdvert/{{advert.adv_id}}">Réservations</button>
            <button mat-raised-button (click)='deleteAdvert(advert.adv_id)'><span
                    style="color: red;">Supprimer</span></button>
        </div>
        <hr class="annoucement-hr">
    </div>

    <div class="noResult" *ngIf="noAdverts"> Aucune annonce</div>

</div>